[Unit]
Description=Command runner

[Service]
Type=simple
ExecStart=/home/thewisepigeon/code/dockerizer/dockerizer
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
