[Unit]
Description=goo is a command runner. Visit https://github.com/TheWisePigeon/goo to learn more

[Service]
Type=simple
ExecStart=/usr/local/bin/goo
User=root
Group=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
